#contact {
  width: 265px;
  font-family: sans-serif;
}
#contact header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  color: white;
  background-image: linear-gradient(#424242, #252525);
}
#contact footer {
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #323232;
  display: flex;
  justify-content: flex-end;
}
#contact header h3 {
  margin: 0px;
}
.is-active {
  display: block;
}
.contact {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  border: 1pt solid black;
  cursor: pointer;
}
.contact .is-active {
  display: block;
}
.contact:nth-child(odd) {
  background-color: #212121;
}
.contact:nth-child(even) {
  background-color: #1A1A1A;
}
.contact:nth-child(3) {
  z-index: 10;
}
.contact div {
  padding: 10px;
}
.contact div:first-child {
  padding: 10px 0px 10px 15px;
  /* padding-right: 0px; */
}
.contact .name {
  width: 60px;
  font-size: .75rem;
  color: white;
  border-right: .25pt solid black;
}
.status {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
}
.is-online {
  background-color: #01F81A;
}
.is-away {
  background-color: #C3BF17;
}
.is-offline {
  background-color: #FE0304;
}
.email, .phone, p {
  font-size: .75rem;
  color: #494949;
}
.email a {
  color: #1EB4BB;
}
.hidden {
  display: none;
}

.contactList {
  position: relative;
}
.overlay {
  display: none;
  position: absolute;
  background-color: rgba( 30, 30, 30, .9);
  height: 100%;
  width: 100%;
}
.overlay.is-active {
  display: flex;
}
.overlay .contact {
  display: flex;
  background-color: rgba(30,30,30,0);
  border: 0pt solid rgba(4,4,4,0);
  width: 100%;
  margin-top: 72px;
}
.overlay .contact div {
  background-color: #484848;
  border: none;
}
.overlay .contact p {
  color: white;
}
.overlay .contact div:last-child {
  padding-top: 0px;
  padding-left: 18px;
  width: 60%;
}
.overlay .contact div:first-child {
  padding: 13px 0px 13px 13px;
}
.overlay .contact .name {
  padding-top: 12px;
}